/* Custom icon styles */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #800020 !important;
}

.material-icon-maroon {
  color: #800020 !important;
}